@import "tailwindcss";

@font-face {
  font-family: sans-bold;
  src: url(../../public/fonts/IRANSansX-Bold.ttf);
}

@font-face {
  font-family: sans-semiBold;
  src: url(../../public/fonts/IRANSansX-DemiBold.ttf);
}

@font-face {
  font-family: sans-black;
  src: url(../../public/fonts/IRANSansX-Black.ttf);
}

.sans-bold {
  font-family: sans-bold;
}

.sans-semiBold {
  font-family: sans-semiBold;
}

.sans-black {
  font-family: sans-black;
}

@layer utilities {
  .button-addproduct {
    filter: drop-shadow(1px 1px 5px #006bad7c);
  }

}
