@import "tailwindcss";

@font-face {
  font-family: sans-bold;
  src: url(../../public/fonts/IRANSansX-Bold.ttf);
}

@font-face {
  font-family: sans-semiBold;
  src: url(../../public/fonts/IRANSansX-DemiBold.ttf);
}

@font-face {
  font-family: sans-black;
  src: url(../../public/fonts/IRANSansX-Black.ttf);
}

@font-face {
  font-family: py-bold;
  src: url(../../public/fonts/Peyda-Bold[@fontbazi].ttf);
}

@font-face {
  font-family: py-extrabold;
  src: url(../../public/fonts/Peyda-ExtraBold[@fontbazi].ttf);
}

@font-face {
  font-family: py-black;
  src: url(../../public/fonts/Peyda-Black[@fontbazi].ttf);
}

@font-face {
  font-family: py-light;
  src: url(../../public/fonts/peyda-extralight[@fontbazi].ttf);
}

.sans-bold {
  font-family: sans-bold;
}

.sans-semiBold {
  font-family: sans-semiBold;
}

.sans-black {
  font-family: sans-black;
}

.py-bold {
  font-family: py-bold;
}

.py-extrabold {
  font-family: py-extrabold;
}

.py-black {
  font-family: py-black;
}

.py-light {
  font-family: py-light;
}

@layer utilities {
  .button-addproduct {
    filter: drop-shadow(1px 1px 5px #006bad7c);
  }

  .shadow-normal-button {
    filter: drop-shadow(1px 1px 3px #0000002f);
  }

  .button-best {
    filter: drop-shadow(1px 1px 5px #22222262);
    
  }
}
